@tailwind base;
@tailwind components;
@tailwind utilities;

@import "swiper/css";
@import "swiper/css/navigation";
@import "swiper/css/pagination";
@import "swiper/css/parallax";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.card {
  @apply mb-5 pb-2 block border border-gray-200  shadow-md;
}
